*.test.js
json/*
html/*
screenshots/*
screenshot/*
migrations/*
.nyc_output/*
lib/parsers/product-reviews-B07747FR44-1.html
.github/
client/node_modules/*
client/html/*
client/json/*
client/screenshot/*
client/screenshots/*